* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #a2a2a2, #ffffff, #e4e4e4, #333);
    animation: mygradient 20s ease infinite;
}

@keyframes mygradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hide {
    display:none;
}

.disabled{
    pointer-events: none;
}

.choosen{
    border:4px solid red;
}

#app{
    margin:auto;
    padding-block: 2rem;

    min-height: 100vh;

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    gap:clamp(1rem, 1.2rem + 2vw, 2.5rem);

    text-align: center;
}

section {
    display:flex;
    align-items: center;
    flex-flow: column nowrap;
    gap:2rem;
}

article{
    display:flex;
    gap: 4rem;
}

ul{
    display:flex;
    gap:1rem;
}

ul li{
    list-style: none;
}

button{
    border-radius:.5rem;
    transition: .6s;
}

.game button{
    width: clamp(3rem, 4rem + 3vw, 8rem);
    height: clamp(3rem, 4rem + 3vw, 8rem);

    cursor: pointer;
}

.game button:hover{
    opacity: 0.5;
}

#playGame, #start button{
    background-color: black;
    color:white;
    font-size:clamp(0.6rem, 1rem + 2vw, 1.6rem) ;

    border: none;
    padding: clamp(0.2rem, 1.1rem + 2vw,2rem) clamp(0.8rem, 1.2rem + 2vw,2rem);

    cursor: pointer;
}

#playGame:hover, #start button:hover{
    background-color: #e4e4e4;
    outline: 1px solid #333;
    color: #000;
}

button.rock{
    background:no-repeat center/50% url(./img/rock.svg); 
}

button.paper{
    background:no-repeat center/50% url(./img/paper.svg); 
}

button.scissors{
    background:no-repeat center/50% url(./img/scissors.svg); 
}

#score p{
    font-size: clamp(0.8rem, 1.1rem + 2vw,2rem);
}

#score span{
    font-size: clamp(1rem, 1.2rem + 2vw,2.5rem);
}

